[submodule "external/winnie-build"]
	path = external/winnie-build
	url = git@github.com:Kosmosnimki/winnie-build.git
[submodule "external/APIBuild"]
	path = external/APIBuild
	url = git@github.com:ScanEx/APIBuild.git
[submodule "external/GMXCommonComponents"]
	path = external/GMXCommonComponents
	url = git@github.com:ScanEx/GMXCommonComponents.git
[submodule "external/SearchJS"]
	path = external/SearchJS
	url = git@github.com:ScanEx/SearchJS.git
[submodule "external/IconSidebarControl"]
	path = external/IconSidebarControl
	url = git@github.com:ScanEx/IconSidebarControl.git
[submodule "external/winnie-core"]
	path = external/winnie-core
	url = git@github.com:Kosmosnimki/winnie-core.git
