.headerContainerControl-controlCorner .leaflet-control { margin: 0; }
.headerContainerControl {
    width: 100%;
    padding: 10px;
    /*box-sizing: border-box;*/
    /*height: 50px;*/
    /*background: hsla(0, 0%, 12%, .9);*/
    /*box-shadow: 0 0 8px hsla(0, 0%, 0%, .5);*/
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.headerContainerControl .searchBarWidget { width: 100%}

.headerContainerControl-menuContainer { width: 40px; }
.headerContainerControl-searchBarContainer { width: 50%; background-color:#fff; }
.headerContainerControl-authContainer { width: 200px; }
